[submodule "rosmsgs"]
	path = rosmsgs
	url = https://github.com/valentinbarral/rosmsgs
[submodule "tf_to_trajectory"]
	path = tf_to_trajectory
	url = https://github.com/engcang/tf_to_trajectory
[submodule "VINS-Fusion"]
	path = VINS-Fusion
	url = https://github.com/HKUST-Aerial-Robotics/VINS-Fusion
