<?xml version="1.0"?>
<launch>

  <!-- <node name="rvizualizer" pkg="rviz" type="rviz" args="-d $(find ekf_landing)/../rviz.rviz"/> -->


  <param name="/depth_max_range" value="6.0"/>
  <param name="/depth_fx" value="319.9988245765257"/>
  <param name="/depth_fy" value="319.9988245765257"/>
  <param name="/depth_cx" value="320.5"/>
  <param name="/depth_cy" value="240.5"/>
  <param name="/hfov" value="1.5708"/> <!-- radian -->

  <param name="/depth_topic" value="/d435i/depth/image_raw"/>
  <param name="/pcl_topic" value="/converted_pcl"/>
  <param name="/pcl_base" value="d435i/depth_camera_link"/>
  <param name="/body_base" value="base_link"/>
  <param name="/agg_pcl_base" value="map"/>

  <node name="ekf_landing_node" pkg="ekf_landing" type="ekf_landing_node" output="screen"/>
  <!-- launch-prefix="gdb -ex run --> <!--args" -->


<!-- edit directly in the python file -->
  <!-- <param name="/backend" value="cv2.dnn.DNN_BACKEND_CUDA"/> -->
  <!-- <param name="/target" value="cv2.dnn.DNN_TARGET_CUDA"/> -->

  <param name="/inference_rate" value="30"/>
  <param name="/img_in_topic" value="/d435i/stereo_ir/left/image_raw"/>
  <param name="/img_out" value="True"/>
  <param name="/img_out_topic" value="/detected"/>
  <param name="/bbox_out_topic" value="/bboxes"/>
  <param name="/confidence_threshold" value="0.8"/>
  <param name="/nms_threshold" value="0.4"/>
  <param name="/class_file" value="$(find ekf_landing)/scripts/class.txt"/>
  <param name="/weight_file" value="$(find ekf_landing)/scripts/yolov4-tiny-3l-obj_final.weights"/>
  <param name="/cfg_file" value="$(find ekf_landing)/scripts/yolov4-tiny-3l-obj.cfg"/>

  <param name="/yolo_kalman" value="true"/>
  <param name="/uwb_kalman" value="true"/>
  <node name="yolo_ros_detector" pkg="ekf_landing" type="ros_opencv_dnn.py" output="screen"/>

</launch>
