<launch>

<node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
  <param name="output_frame" value="map"/>
  <param name="base_footprint_frame" value="base_footprint"/>
  <param name="freq" value="25.0"/>
  <param name="sensor_timeout" value="1.0"/>  
  <param name="odom_used" value="true"/>
  <param name="imu_used" value="true"/>
  <param name="vo_used" value="false"/>

  <remap from="odom" to="jackal1/jackal_velocity_controller/odom" />
  <remap from="imu_data" to="jackal1/imu" />
</node>

<node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 1 base_footprint imu_link 100"/>

</launch>