<?xml version="1.0"?>

<model>
  <name>Sun 2</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Benjamin Perseghetti</name>
    <email>bperseghetti@rudislabs.com</email>
  </author>

  <description>
    A directional light for the sun with better default values.
  </description>
</model>
